:root {
    --gray: #1F2D3A;
    --dark: #0F1D2A;
    --light: #2F3D4A;
    --pop: #2ECC71;
    --text: #ECF0F1;
}

.pop {
    color: var(--pop);
}

body {
    overflow-x: hidden;
    position: relative;
}

::selection {
    background: var(--text);
}

html {
    height: 100%;
    font-size: 16px;
    color: var(--text);
    background: var(--gray);
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 4px;
    outline: none;
}

.github-corner > svg {
    fill: var(--dark);
    color: var(--gray);
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

#info_container_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_container {
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info_item {
    text-align: center;
    width: 260px;
    margin: 4px;
}

.item_title {
    margin: 0 auto;
    padding: 4px;
}

.item_desc {
    background-color: var(--dark);
    border-radius: 4px;
}

.item_desc > p {
    margin: 0 auto;
    padding: 4px;
}

.item_desc:hover {
    animation: text-pop .5s forwards;
}

.item_desc:not(:hover) {
    animation: pop-text .5s forwards;
}

#container {
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
}

#status {
    text-align: center;
    padding: 4px;
}

h1 {
    text-align: center;
    font-size: 32px;
}

form {
    display: table;
    margin: 0 auto;
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--text);
}

ul.nav {
    width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align:center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.nav li { 
    display:inline-block;
    width:32%;
    margin:0;
    padding:0;
}
.nav a {
    text-align:center;
    margin:0;
    display:block;
}

input {
    border: none;
    border-radius: 4px;
    color: var(--text);
    font-family: Lato, sans-serif;
}

input[type=button] {
    -webkit-appearance: none;
    background: var(--gray);
}

#button {
    display:inline-block;
    width: 528px;
    text-align: center;
    padding: 4px;
    font-size: 16px;
}

#button:hover {
    animation: gray-light .5s forwards;
}

#button:not(:hover) {
    animation: light-gray .5s forwards;
}

input[type=text] {
    width: 520px;
    background: var(--dark);
    text-align: center;
    padding: 4px;
    font-size: 16px;
    border: none;
}

input[type=text]:focus, input[type="radio"]:checked + label {
    background: var(--light);
}
input[type="text"]:hover {
    animation: dark-light .5s forwards;
}

input[type="text"]:not(:hover):not(:focus) {
    animation: light-dark .5s forwards;
}

@media (max-width: 536px) {
    input[type=text] {
        width: calc(100vw - 8px);
        font-size: 12px;
    }

    #button {
        width: 100vw;
    }
}

@keyframes light-dark {
    from {background-color: var(--light);}
    to {background-color: var(--dark);}
}

@keyframes dark-light {
    from {background-color: var(--dark);}
    to {background-color: var(--light);}
}

@keyframes gray-light {
    from {background-color: var(--gray);}
    to {background-color: var(--light);}
}

@keyframes light-gray {
    from {background-color: var(--light);}
    to {background-color: var(--gray);}
}

@keyframes text-pop {
    from {color: var(--text);}
    to {color: var(--pop);}
}

@keyframes pop-text {
    from {color: var(--pop);}
    to {color: var(--text);}
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background: var(--light);
}

::-webkit-scrollbar-track {
    border-radius: 100px;
}
